@model SonaliBankUniversity.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2 class=" visible-lg-inline-block">Details</h2>

<div class=" bg-success  text-dark bg-opacity-25">
    <h4 class="text-center bg-info ">Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Administrator
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrator.FullName)
        </dd>
    </dl>
</div>
<p class="btn btn-group btn-info text-dark">
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartmentID }) |

</p>
<p class="btn btn-group btn-info text-dark">
    @Html.ActionLink("Back", "Index")
</p>
